<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fyg.networklib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:name="com.fyg.networklib.Ktx"
            android:authorities="${applicationId}.KtxInstaller"
            android:exported="false"
            tools:ignore="WrongManifestParent" />
    </application>

</manifest>